<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;">
    <title>金坛详情页</title>
    <link href="src/css/reset.css" rel="stylesheet">
    <link href="src/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="src/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="src/js/vue.js"></script>
    <script type="text/javascript" src="src/js/hammer.min.js"></script>
    <script type="text/javascript" src="src/js/index.js"></script>
    <script type="text/javascript" src="src/js/autoLayouter_v2.1.1.js"></script>
  </head>
<body class="img-body" id="1210">
<div id="gallery-detail">
    <div class="detail-head">
        <img v:src="{{gallery_cover}}"/>
    </div> 
    <div class="detail-wrap" id="detail-wrap">
        <div class="detail-info">
            <h3 class="gallery-h3">
                <p class="gallery-title" v-text="decodeURIComponent(gallery_name)"></p>
                <p class="gallery-title en-name" v-text="decodeURIComponent(gallery_en_name)"></p>
            </h3>
            <p class="time" v-if="gallery_open_time" v-text="gallery_open_time"></p>
            <p class="place"  v-if="gallery_location" v-text="gallery_country + gallery_province + gallery_city + decodeURIComponent(gallery_location)"></p>
            <p class="build-time"  v-if="gallery_build_time" v-text="decodeURIComponent(gallery_build_time)"></p>
            <!-- <p class="category"  v-if="gallery_category == 1">艺术馆</p>
            <p class="category"  v-if="gallery_category == 2">展览</p>
            <p class="category"  v-if="gallery_category == 3">专业作品</p>
            <p class="category"  v-if="gallery_category == 4">信息</p> -->
            <p class="website"  v-if="gallery_url"><a v-text="decodeURIComponent(gallery_url)" href="{{decodeURIComponent(gallery_url)}}" target="_blank"></a></p>
            <p class="phone"  v-if="gallery_phone" v-text="decodeURIComponent(gallery_phone)"></p>
        </div>
        <div class="powered-by clearfix">
            <div class="powered-cont">
                <p><i>Powered by</i><span>艺术云图</span></p>
            </div>
        </div>
        <div class="story-wrap">
            <div class="gallery-intro">
                <h3 class="story-title">概况</h3>
                <p v-text="decodeURIComponent(gallery_description)"></p>
                <h3 class="story-title">艺术品</h3>
            </div>
            <div class="gallery-list">
                <div class="water-full"></div>
                <!-- <div class="loading"></div> -->
            </div>
        </div>
    </div>
    <div class="share_gray">
        <img src="" />
        <div class="text_intro">
            <p></p>
        </div>
    </div>
</div>
<script type="text/javascript">
var totalTime = 1500;
var initTime =50;
var host = 'http://cmm.yuntoo.com/';

// var host = '';
var imgsArr =[];
var imgIndex = 0;
var screenWidth = document.documentElement.clientWidth || document.body.clientWidth;
var screenHeight = document.documentElement.clientHeight || document.body.clientHeight;
var shareObj = {};
var noMoreList = false;
var space = Math.ceil(0.046*screenWidth);
var $textIntro = $('.text_intro');
var arr = [0,0];
var wrapWidth = $('.gallery-list').width();
var space = {
    xSpace:6,
    ySpace:3
}; 
var listWidth = (wrapWidth - space.xSpace)/2;
var $textIntro = $('.text_intro');
var isLoading = false;
var storyOffset = 0;
var storyLimit = 10;
// var ADS = {};
// ADS.getDetailId = function(){
//     return 125;
// }
waitADS();
function waitADS(){
    var Foo = {};
    if(initTime < totalTime && typeof ADS == 'undefined'){
        var getADS = setTimeout(waitADS,50)
        initTime += 50;
    }else{
        clearTimeout('getADS');
        // getADS = null;
        var ADSid = ADS.getDetailId() + '';
        var url = host + 'api/gallery/' + ADSid;
        var storyUrl = host + 'api/gallery/' + ADSid + '/item_list';
        $('.detail-rotate').css('border-left-width',screenWidth + 'px');
        $('body').on('click','.gallery-story',function(){
            var imgJson = JSON.stringify(imgsArr);
            var imgIndex = $(this).index();
            // console.log(imgsArr);
            try{
                ADS.startImgPreview(imgJson, imgIndex);
            }catch(e){
                // console.log(e);
            }
        });
        $.ajax({
            url : url,
            data:{
                client_type:4,
                client_version:1.0,
                uuid:'abcd'
            },
            type : 'get',
            success: function(data){
                data = JSON.parse(data);
                if(!data.success){
                    $('body').empty().css('height',screenHeight).addClass('fail-loading');
                }else if(data.success){
                    var bgObj = {};
                    data = data.data;
                    data.gallery_country = data.gallery_country ? data.gallery_country : '';
                    data.gallery_province = data.gallery_province ? data.gallery_province : '';
                    data.gallery_city = data.gallery_city ? data.gallery_city : '';
                    data.gallery_location = data.gallery_location ? data.gallery_location : '';
                    // var coverSize = data.cover_size || '750,750';
                    // var bgHeight = coverSize.split(',')[1]*screenWidth/coverSize.split(',')[0];
                    // var topPos = (275-bgHeight)/2;
                    var bgScale = 1;
                    var img = new Image();
                    img.src = data.gallery_cover;
                    img.onload = function(){
                        var imgW = img.width;
                        var imgH = img.height;
                        var bgHeight = imgH*screenWidth/imgW;
                        var topPos = (275-bgHeight)/2;
                        bgObj.bgUrl = data.gallery_cover;
                        bgObj.pos = (275-bgHeight)/2;
                        if(bgHeight < 275){
                            bgScale = 275/bgHeight;
                            bgObj.pos = 0;
                        }
                        bgObj.bgCss = {
                            'background':'url(' + bgObj.bgUrl + ') no-repeat 0 ' + bgObj.pos + 'px',
                            'background-size' :  bgScale*100 + '% auto',
                            'background-attachment' : 'fixed'
                        }
                        $('body').css(bgObj.bgCss);  
                    }
                    shareObj.cover = data.gallery_cover;
                    shareObj.title = decodeURIComponent(data.gallery_name);
                    shareObj.intro = decodeURIComponent(data.gallery_description);
                    shareObj.id = data.gallery_id;
                    shareObj.href = host + 'share/gallery/' + shareObj.id +'/?client_version=1.0.0';
                    shareObj = JSON.stringify(shareObj);
                    // console.log(shareObj);
                    try{
                        ADS.setSP('share',shareObj);
                    }catch(e){
                        // console.log(e);
                    }
                    $('title').text(decodeURIComponent(data.gallery_name));
                    bgObj.bgCss = {
                            'background':'url(' + bgObj.bgUrl + ') no-repeat 0 ' + bgObj.pos + 'px',
                            'background-size' : 100*bgScale + '% auto',
                            'background-attachment' : 'fixed'
                        }
                    $('body').css(bgObj.bgCss);
                    new Vue({
                      el: '#gallery-detail',
                      data: data
                    });
                }
            },
            error : function(error){
                isLoading = false;
                
            } 
        });
        Foo.listLoad = function(){
            if(!isLoading && !noMoreList){
                isLoading = true;
                loadAjax();
            }else if(noMoreList){
                try{
                    ADS.onRefreshNotMore('无更多内容');
                }catch(e){
                    // console.log(e);
                }
            }
        }
        Foo.listLoad();
        function loadAjax(){
            $.ajax({
                url:storyUrl,
                data:{
                    client_type:4,
                    client_version:1.0,
                    uuid:'abcd',
                    offset:storyOffset,
                    limit:storyLimit
                },
                success: function(data){
                    var data = JSON.parse(data);
                    var $parent = $('.water-full');
                    isLoading = false;
                    try{
                      ADS.onRefreshComplete();
                    }catch(e){
                      // console.log(e);
                    } 
                    if(data.success){
                        data = data.data;
                        waterFull($parent,data);
                        storyOffset += storyLimit;     
                    }else{
                        noMoreList = true;
                        try{
                            ADS.onRefreshNotMore('无更多内容');
                        }catch(e){
                            // console.log(e);
                        }
                    }
                },
                error:function(){
                    isLoading = false;
                    try{
                      ADS.onRefreshComplete();
                    }catch(e){
                      // console.log(e);
                    }
                }
            });
        }
    }
    return Foo;
}
function waterFull(parent,data){
    loadEach(parent,data);
    if(storyOffset - storyLimit - 1 > 0){
        var $galleryImg = $('.gallery-img:gt(' + (storyOffset - storyLimit - 1) + ')');
    }else{
       var $galleryImg = $('.gallery-img'); 
    }
    
    $.each($galleryImg,function(k,v){
       var img = new Image();
        img.src = $(v).data('imgUrl');
        img.onload = function(){
            $(v).append('<img src="'+img.src +'"/>');
        } 
    });           
};
function loadEach(parent,data){
    var divHeight,$lastDiv,divStyle,max;
    var data = data;
    var children = '';
    $.each(data,function(k,v){
        if(data.length < 1){
            // $('.loading').fadeOut();
            return;
        }else{
            var img = new Image();
            var eachData = v;
            var coverData = eachData.image_url;
            var id = eachData.id;
            // var type = coverData.resource_description.type; listWidth
            var url = eachData.image_url;
            var coverW = eachData.image_width;
            var coverH = eachData.image_height;
            var artworkName = eachData.artwork_name ? decodeURIComponent(eachData.artwork_name) : '';
            var artworkArtistName = eachData.artwork_artist_name ? decodeURIComponent(eachData.artwork_artist_name) : '';
            imgsArr.push({
                url:url,
                resourceId:eachData.artwork_id,
                galleryId:eachData.gallery_id,
                ImageDescription:artworkName,
                artworkArtistName:artworkArtistName
            });
            img.src = url;
            imgIndex ++;
            divHeight = coverH*listWidth/coverW;
            children = '<div class="gallery-story" style="height:'+ divHeight +'px;" data-intro-text="'+ artworkName +'"><div class="gallery-img" data-img-url="'+ url +'"></div><div class="gallery-story-cont"><div class="bottom-layer"><span class="story-text">'+ artworkName +'</span></div></div></div>'; 
            parent.append(children);
            $lastDiv = parent.find('.gallery-story:last');
            if(arr[0] > arr[1]){  //第一个高度大于第二个,将div放到第二个里面
                divStyle = {
                    top: arr[1] + space.ySpace + 'px',
                    left: listWidth + space.xSpace + 'px',
                    width:listWidth,
                    // opacity:0
                    // height:divHeight
                } 
                arr[1] = arr[1] + divHeight + space.ySpace; 
            }else{              //第一个高度等于第二个高度或者第一个高度小于第二个高度,div放入第一个里面
                divStyle = { 
                    top: arr[0] + space.ySpace + 'px',
                    left:0,
                    width:listWidth,
                    // opacity:0
                    // height:divHeight
                }
                arr[0] = arr[0] + divHeight + space.ySpace; 
            }
            max = Math.max.apply(null,arr);
            parent.css('height',max);
            $lastDiv.css(divStyle);
            // data.shift();
            img = null;
            // loadEach(data);
        }
    })
}
</script>
</body>
</html>